.SectionProf .prof {
    background: #fff;
  }

  .SectionProf .prof img{
    height: 315px;
    width: 100%;
  }
  
  .SectionProf .prof .profInfo {
    padding: 10px 15px 10px 15px;
    text-align: center;
  }
  
  .SectionProf .prof .profInfo h4 {
    font-weight: var(--font-bold);
    margin-bottom: 5px;
    font-size: var(--h2-font-size);
    color: var(--text-color);
  }
  
  .SectionProf .prof .profInfo span {
    display: block;
    font-size: var(--normal-font-size);
    font-weight: var(--font-minium);
    color: var(--first-color-alt);
  }

  .SectionProf .prof .profInfo .hospitalInfo {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    width: 100%;
  }

  .SectionProf .prof .profInfo .hospitalInfo span{
    font-size: var(--h2-font-size);
    color: #000;
  }

  .SectionProf .prof .profInfo .hospitalInfo svg{
    font-size: 20px ;
    color: #000;
    color: var(--first-color);
  }

  .sectionHeader {
    text-align: center;
    padding-bottom: 30px;
  }
  
  .sectionHeader h2 {
    font-size: var(--h1-font-size);
    font-weight: var(--font-semibold);
    margin-bottom: 20px;
    padding-bottom: 20px;
    position: relative;
  }
  
  .sectionHeader h2:after {
    content: "";
    position: absolute;
    display: block;
    width: 60px;
    height: 2px;
    background: var(--first-color);
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
  }