.features {
  padding-bottom: 0;
}

.features h3 {
  color: var(--first-color);
  font-size: var((--h1-font-size));
  font-weight: var(--font-bold);
  margin-bottom: 30px;
}


.features .iconlist svg {
  margin-right: 10px;
  font-size: var(--h1-font-size);
  line-height: 1.2;
}

.features .iconlist span {
  font-size: var(--normal-font-size);
  color:var(--text-color);
}

.features .phoneWrap {
  position: absolute;
  right: 0;
}

@media (max-width: 768px) {
  .features .phoneWrap {
    position: relative;
  }
  .features .phoneWrap img {
    width: 100%;
  }
}

@media (min-width:768px){
  .features .phoneWrap img {
    width: 340px;
  }
}

@media (max-width: 992px) {
  .features .phoneWrap img {
    margin-top: 80px;
  } 
}

.features .details {
  margin-top: 80px;
  padding: 120px 0;
  background-color: #efefef;
}

.features .details h4 {
  color: var(--color-secondary);
  font-size: 32px;
  font-weight: 700;
  margin-bottom: 20px;
}

.features .details p {
  margin-bottom: 20px;
  font-size: 15px;
}


.features .details a:hover {
  background: var(--text-color);
  color: #fff;
}

  
  