
.main{
display: flex;
align-items: center;
justify-content: center;
height: 100vh;
position: fixed;
top: 0;
left: 0;
z-index: 1954;
}
.main img{
width: 40%;
height: 100%;
}
.main .sectionContainer{
display: flex;
align-items: center;
justify-content: center;
width: 60%;
height: 100%;
background-color: #f6f7f8;
}
.main .sectionContainer .navInfo{
width: 536px;
display: flex;
flex-direction: column;
justify-content: start ;
padding: 0px 55px;
}
.main .sectionContainer .navInfo .btn_Submit{
    width: 416px;
    padding: 0px 24px;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 8px;
    height: 56px;
    border-radius: 50px;
    color: #fff;
    margin-top: 3rem;
    background-color: var(--first-color);   
}
.main .sectionContainer .navInfo .btn_Submit:hover{
    transition: .5s;
    background-color: var(--text-color);
}
.main .sectionContainer .navInfo .back{
    margin-top: 1rem;
    text-align: center;
    
}


/*Mobile*/

@media (max-width:959px){
.main .sectionContainer{
    width: 100%;
    position: fixed;
    right: 0;
}  
.main img{
    display: none;
}
}
@media (max-width:420px){
 
.main .sectionContainer .navInfo{
        max-width: 405x;
}
.main .sectionContainer .navInfo .navInputs div{
    width:300px;
}
.main .sectionContainer .navInfo .navInputs input{
    padding:15px 15px;
}
.main .sectionContainer .navInfo .btn_Submit{
    max-width:300px;
}

}
