.footer {
  font-size: var(--normal-font-size)
}

.footer .footerContent {
  background-color: #f3f3f3;
  background-size: contain;
  padding: 60px 0 30px 0;
}

.footer .footerContent .footerInfo {
  margin-bottom: 30px;
  display: flex;
  flex-direction: column;
  gap: 1.5rem;
  align-items: start;
}


.footer .footerContent .footerInfo .logo {
  line-height: 0;
}

.footer .footerContent .footerInfo p {
  font-size: var(--normal-font-size);
  margin-bottom: 0;
  font-family: var(--body-font);
  color: #000;
}

.footer .footerContent .socialLinks a {
  font-size: var(--normal-font-size);
  width: 35px;
  height: 35px;
  color:var(--text-color);
  margin-right: 10px;
  transition: 0.3s;
  display: grid;
  place-content: center;
  background-color: var(--text-color);
  color: #fff;
  border-radius: 50px;
}

.footer .footerContent .socialLinks a:hover {
  background-color: #38618e;
}

.footer .footerContent h4 {
  font-size: var(--normal-font-size);
  font-weight: bold;
  color: var(--text-color);
  position: relative;
  padding-bottom: 12px;
}

.footer .footerContent .footerLinks {
  margin-bottom: 30px;
}

.footer .footerContent .footerLinks ul {
  padding: 0;
}

.footer .footerContent .footerLinks ul svg {
  margin-right: 2px;
  color: var(--text-color);
  font-size: var(--normal-font-size);
  line-height: 0;
}

.footer .footerContent .footerLinks ul li {
  padding: 10px 0;
  display: flex;
  align-items: center;
}

.footer .footerContent .footerLinks ul li:first-child {
  padding-top: 0;
}

.footer .footerContent .footerLinks ul a {
  color: var(--text-color);
  transition: 0.3s;
  display: inline-block;
  line-height: 1;
}

.footer .footerContent .footerLinks ul a:hover {
  color: var(--first-color);
}

.footer .footerContent .footerContact p {
  line-height: 26px;
  color: var(--color-secondary);
}

.footer .footerLegal {
  background: #fff;
  padding: 30px 0;
}

.footer .footerLegal .copyright {
  text-align: center;
  color: #000;
}
