.container{
    width: calc(100% - 100px);
    margin-left: 100px;
    margin-top: 4rem;
}
@media (max-width:768px) {
    .container{
        width: 100%;
        margin-left: 0;
    }
}
.card {
  margin-bottom: 30px;
  border: .5px solid rgba(1, 41, 112, 0.1);
  border-radius: 5px;
  box-shadow: 0px 0 30px rgba(1, 41, 112, 0.1);
  position: relative;
  background: #fff;
}
  /*--------------------------------------------------------------
# Profie Page
--------------------------------------------------------------*/
.profile{
  padding: 2rem 2rem 0 1rem;
}
 .profile_card img {
    max-width: 120px;
  }
 .profile_card h2 {
    font-size: var(--h2-font-size);;
    font-weight: 700;
    color: #2c384e;
    margin: 10px 0 0 0;
  }
   .profile_card h3 {
    font-size:  var(--h3-font-size);
  }
  .profile_edit label {
    font-weight: 600;
    color: rgba(1, 41, 112, 0.6);
  }
  .profile_card button {
    padding: 10px;
    background: var(--first-color);
    color: #fff;
    border: none;
    outline: none;
    border-radius: 10px;
    margin-bottom: 1rem;
  }
  .profile_card .content {
    position: absolute;
    top: 100%;
    z-index: 1000;
    padding: 25px;
    background-color: #fff;
    
  }

  .profile_card .userImage{
    width: 120px;
    height: 120px;
    border-radius: 100% !important;
    cursor: pointer;
  }

  .profile_card .content h4{
    text-align: center;
    margin-bottom: 1rem;
  }

  /* Bordered Tabs */
  .nav_tabs_bordered {
    gap: 1rem;
    padding: 1rem 0 1rem 1rem;
  }
  /* .nav_tabs_bordered .nav_item{
    border-bottom: 2px solid #2052b6;
  } */
  .nav_tabs_bordered .nav_link {
    margin-bottom: -2px;
    border: none;
    color: #2c384e;
  }
  .nav_tabs_bordered .nav_link:hover, .nav_tabs_bordered .nav_link:focus {
    color: #4154f1;
  }
  .nav_tabs_bordered .nav_link .active {
    background-color: #fff;
    color: #4154f1;
    border-bottom: 2px solid #4154f1;
  }
  .padding{
     padding: 1rem;
  }